@font-face {
    font-family: 'OpenSans-Regular';
    src: url(fonts/OpenSans-Regular.ttf) format('truetype');
    font-weight: normal;
}

body {
    margin-top: 30px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E293B;
}

#main-container {
    display: flex;
    flex-direction: column;
    background-color: #334155;
    width: 424px;
    height: 450px;
    border-radius: 40px;
}

h1 {
    align-self: center;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    color: #FFFFFF;
}

p {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 1rem;
    font-weight: 50;
    color: #FFFFFF;
}

.flex-space-bw {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    display: flex;
    justify-content: space-between;
}

.no-of-chars {
    align-items: center;
}

.char-input {
    background-color: #475569;
    border: 0px;
    border-radius: 40px;
    width: 150px;
    height: 30px;
}

.char-input::placeholder {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 1rem;
    font-weight: 50;
    color: #FFFFFF;
    opacity: 0.33;
    padding-left: 10px;
}

.checkbox {
    background-color: #475569;
    border: 0px;
    border-radius: 40px;
    width: 150px;
    height: 30px;
}

.flex-centered {
    display: flex;
    justify-content: center;
}